body {
    margin: 0;
    background: linear-gradient(to right, #d1cdd2, #c6c2c7, #b1adb2);
}

.container {
    margin: 0;
    width: 100%;
}

/*MENU*/

.main-menu, .main-menu ul, .main-menu li {
    margin: 0;
    padding: 0
}

.main-menu, .main-menu ul {
    background: linear-gradient(to left, #a57d7b, #af9eb0, #af9eb0);
}

.main-menu {
    width: 100%;
}

.main-menu ul {
    display: none;
}

.main-menu li {
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

.main-menu ul li {
    display: block;
    text-align: left;
    font-size: 1em;
    width: 100%;
}

.main-menu a {
    display: block;
    padding: 7px 0;
    color: #fff;
    text-decoration: none;
}

.main-menu ul a {
    padding: 5px 5px;
}

.main-menu li:hover {
    background: rgb(152, 135, 153);

}

@media (max-width: 1023px) {
    .main-menu {
        display: block;
        height: max-content;
    }

    .main-menu ul {
        width: 70%;
        margin: 0 auto;
    }

    .main-menu li {
        display: block;
        width: 100%;
        font-size: 3em;
    }

    ul .visible-menu {
        display: block;
    }

    .main-menu a {
        text-align: center;
    }

    .main-menu ul a {
        border-bottom: 2px solid #e5e5e5;
        background: rgb(175, 158, 176);
    }

}

@media (min-width: 1024px) {
    .main-menu {
        position: relative;
        display: table;
        table-layout: fixed;
    }

    .main-menu ul {
        position: absolute;
        z-index: 5;
        width: 25%;
    }

    .main-menu li {
        display: table-cell;
        font-size: 1.2em;
    }

    .main-menu li:hover ul {
        display: block;
    }

    .main-menu a {
        border-left: 2px solid #e5e5e5;
        margin-left: -2px;
    }
}

/*SLIDER*/

.div-slider {
    position: relative;
}

/*CONTACTS*/

.contacts {
    width: 10%;
    padding: 0.5em;
    position: absolute;
    font-family: 'Kanit', sans-serif;
    font-size: 0.7em;
    top: 10%;
}

@media (min-width: 1366px) {
    .contacts p {
        font-size: 1.2em;
        padding: 1em;
    }

}

.contacts span {
    color: #5d515e;
}

/*BUTTONS*/

.menu-button,
.reserve-button,
.reserve-button-desktop,
.menu-button-desktop {
    border: 2px solid #A57D7B;
    border-radius: 3%;
    background: linear-gradient(to left, #a57d7b, #af9eb0, #af9eb0);
    font-family: 'Kanit', sans-serif;
    color: #FFFFFF;
    text-shadow: #580c77 0 0 4px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-align: center;
}

@media (min-width: 1024px) {
    .menu-button,
    .reserve-button {
        display: none;
    }
}

.mobile-buttons {
    display: flex;
    justify-content: space-around;
    font-size: 2.5em;
}

.mobile-buttons a {
    margin: 1%;
    padding: 0 3%;
}

.reserve-button-desktop,
.menu-button-desktop {
    position: absolute;
    width: 12%;
    top: 60%;
    font-size: 1.5em;
}

.reserve-button-desktop {
    left: 1%;
}

.reserve-button-desktop:hover {
    background: rgb(152, 135, 153);
}

.menu-button-desktop {
    right: 1%;
}

.menu-button-desktop:hover {
    background: rgb(152, 135, 153);
}

/*NAME*/

.name {
    width: 50%;
    text-align: center;
    text-shadow: #580c77 0 0 2px;
    position: absolute;
    top: 40%;
    left: 25%;
    z-index: 100;
    font-size: 3em;
    font-family: 'Fredoka One', cursive;
    color: white;
}

/*SLIDER*/

#slider {
    overflow: hidden;
}

#sliderImj {
    position: relative;
    width: 1000%;
    display: flex;
    transition: 2s;
}

#sliderImj div {
    width: 70%;

}

#sliderImj div img {
    width: 100%;

}

#sliderImj::after {
    content: "";
    display: block;
    clear: both;
}

@media (max-width: 1023px) {
    #slider {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    #slider {
        width: 70%;
        margin: 0 auto;
    }
}

/*SEARCH FIELD*/

.search {
    display: inline-block;
    border-radius: 5px;
    position: absolute;
}

.search input {
    width: 7.5em;
    height: 2.5em;
    transition: all .2s ease-out;
    padding: 0 0.5em 0 0.5em;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: 100% 50%, 100% 100%;
    background-size: 20%;
    border: 1px solid #988799;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px #988799, 0 1px 0 #FFF;
    font-size: 2.2em;
}

.search input:focus {
    width: 10em;
    background-image: url("../images/search.png");
}

@media (max-width: 1023px) {
    .search {
        right: 0;
        bottom: 0;
        left: 0;
    }
}

@media (min-width: 1024px) {
    .search {
        top: 20%;
        right: 1%;
    }

    .search input {
        font-size: 1em;
    }
}

/*BREADCRUMBS*/

#menu-breadcrumbs {
    margin-bottom: 9.5em;
}

#breadcrumbs {
    margin: 0.7em;
    padding: 0;
    list-style: none;
    font-size: 2.5em;
}

#breadcrumbs li {
    float: left;
}

#breadcrumbs a {
    padding: 0.3em 1em 0.3em 2em;
    float: left;
    text-decoration: none;
    color: white;
    position: relative;
    background: linear-gradient(to left, #a57d7b, #af9eb0, #af9eb0);
}

#breadcrumbs li:first-child a {
    padding-left: 1em;
    border-radius: 5px 0 0 5px;
}

#breadcrumbs a:hover {
    background: rgb(152, 135, 153);
}

#breadcrumbs a::after,
#breadcrumbs a::before {
    content: "";
    position: absolute;
    top: 49%;
    margin-top: -0.9em;
    border-top: 0.95em solid transparent;
    border-left: 0.85em solid;
    border-bottom: 0.95em solid transparent;
}

#breadcrumbs a::after {
    z-index: 2;
    border-left-color: #a57d7b;
    right: -0.8em;
}

#breadcrumbs a::before {
    border-left-color: #D1CDD2;
    right: -0.9em;
    z-index: 1;
}

#breadcrumbs a:hover::after {
    border-left-color: #988799;
}

@media (min-width: 1024px) {
    #menu-breadcrumbs {
        margin-bottom: 6em;
    }

    #breadcrumbs {
        font-size: 1.5em;
        padding: 0 2em;
    }
}

/*CONTENT*/

.content {
    width: 87%;
    height: 50em;
    font-family: 'Kanit', sans-serif;
    font-size: 1.3em;
    padding: 0 5%;
    overflow-y: auto;
    margin-bottom: 1em;
}

.content h1 {
    text-align: center;
    color: #6d4e4e;
    text-shadow: #400b55 0 1.5px 1px;
}

.content h2 {
    color: #7d5d5d;
    text-shadow: #400b55 0 1.5px 1px;
}

.content .event-caption {
    color: #896666;
    text-shadow: #400b55 0 1px 1px;
}

.content p {
    text-align: justify;
}

.cooks {
    display: inline-block;
    width: 100%;
}

.image-cook {
    display: block;
    width: 90%;
    margin: 1em auto;
}

.image-cook figcaption {
    font-family: 'Kanit', sans-serif;
    color: #614848;
}

.image-cook figcaption strong {
    color: #634949;
}

@media (min-width: 1024px) {
    .content {
        height: 20em;
    }

    .content h1 {
        margin-top: 0em;
    }

    .cooks {
        display: flex;
    }

    .image-cook img {
        width: 100%;
    }

    .image-cook {
        margin: 0em .2em;
        font-size: 0.8em;
    }
}

/*FOOTER*/

.footer {
    border-top: 2px solid #988799;
    width: 95%;
    margin: 3em auto;
    display: block;
    font-size: 0.76em;
}

.footer div p {
    padding: 0.2em;
    margin: 0.3em 0.5em;
}

.footer strong a {
    font-size: 1.2em;
}

.footer div p .mail {
    margin-left: 4%;
    font-size: 0.7em;
}

@media (max-width: 1023px) {
    .footer .mail {
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .footer div p {
        padding: 1em 5em 0 5em;
    }

    .footer {
        width: 70%;
        padding: 1em;
        display: flex;
        margin: 0 auto;
    }

    .footer div p {
        margin: 0 0;
        padding: 0.1em 1em;
        font-size: 1.3em;
    }
}

/*SHARE BUTTONS*/

ul.share-buttons {
    list-style: none;
    padding: 0;
}

ul.share-buttons li {
    display: inline;
}

ul.share-buttons .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

@media (max-width: 1023px) {
    ul.share-buttons {
        text-align: center;
    }

    ul.share-buttons img {
        width: 5em;
        padding-left: 2%;
    }
}

/*PHOTOGALLERY*/

.photogallery {
    width: 100%;
    position: relative;
    padding-bottom: 4em;
}

.photogallery .photo-container {
    max-width: 90%;
    height: 40em;
    margin: 0 auto;
    padding: 5px;
}

.photo {
    display: block;
    transform: translateX(-50%);
    margin-left: 50%;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    object-fit: cover;
    border: solid 2px #bb8b8b;
}

.title {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 3em;
    color: #6d4e4e;
    text-shadow: #400b55 0 1.5px 1px;
}

@media (min-width: 1024px) {
    .photobox {
        width: 1000px;
        margin: 0 auto;
    }

    .photogallery {
        font-family: 'Kanit', sans-serif;
        overflow: hidden;
        display: block;
        margin: 0;
        padding-bottom: 3em;
    }

    .photogallery .photo-container {
        display: inline-block;
        margin: 0.5em;
        padding: 0.4em;
        overflow: hidden;
        width: 300px;
        height: 300px;
    }

    .photo {
        min-width: 150%;
    }
}

/*PAGINATION*/

.pagination {
    display: inline-block;
    transform: translateX(-50%);
    margin-left: 50%;
}

.pagination a,
.number-page,
.pagination-button {
    background: linear-gradient(to left, #a57d7b, #877988, #928193);
    font-family: 'Kanit', sans-serif;
    color: #FFFFFF;
    text-shadow: #580c77 0 1px 2px;
    font-size: 2.5em;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 10%;
}

.pagination a,
.pagination-button {
    text-decoration: none;
    cursor: pointer;
}

.pagination div {
    display: inline-block;
}

.pagination a:hover {
    background: linear-gradient(to left, #8a6767, #6b5f6c, #827183);
}

.number-page {
    width: 2.3em;
    text-align: center;
    margin: 3%;
    transform: translateX(-50%);
    margin-left: 50%;
}

#free-time {
    margin-bottom: 1%;
}

@media (min-width: 1024px) {
    .pagination a,
    .number-page,
    .pagination-button {
        font-size: 1.1em;
    }

    .pagination div {
        margin: 0em;
    }

    .number-page {
        margin: 1%;
        margin-left: 50%;
    }
}

/*RESERVE A TABLE*/

.reserve {
    display: inline-block;
    width: 100%;
}

.reserve div {
    margin: 0 1%;
}

.table-selection {
    position: relative;
    width: 95%;
    margin: 0 auto;
}

.scheme {
    display: block;
    width: 100%;
}

.scheme img {
    display: block;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
}

.title-scheme {
    position: absolute;
    top: 0;
    left: 25%;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 3.2em;
    color: #6d4e4e;
    text-shadow: #400b55 0 0.5px 0.5px;
    padding: 8px;
}

.table {
    width: 4.5%;
    height: 7%;
    background: #dbc5dc;
    position: absolute;
    cursor: pointer;
    opacity: 0.5;
}

.table:hover {
    background: #9b879c;
}

.table-color {
    background-color: #EEB2B2;
    opacity: 0.7;
}

.table.first {
    top: 26.7%;
    left: 6.7%;
}

.table.second {
    top: 40.5%;
    left: 7.3%;
}

.table.third {
    top: 55%;
    left: 7.5%;
}

.table.fourth {
    top: 69.5%;
    left: 7.5%;
}

.table.fifth {
    top: 40%;
    left: 25.4%;
}

.table.sixth {
    top: 55%;
    left: 25.4%;
}

.table.seventh {
    top: 69%;
    left: 25.6%;
}

.table.eighth {
    top: 40.7%;
    left: 41.8%;
}

.table.ninth {
    top: 54.5%;
    left: 42%;
}

.table.tenth {
    top: 69.5%;
    left: 41.7%;
}

.table.horizontal {
    width: 7%;
    height: 5%;
}

.table.eleventh.horizontal {
    top: 17%;
    left: 20.3%;
}

.table.twelfth.horizontal {
    top: 17%;
    left: 34.6%;
}

.table.thirteenth.horizontal {
    top: 17%;
    left: 48.5%;
}

#reserve-the-table,
#reserve-the-table button {
    font-family: 'Kanit', sans-serif;
    color: #FFFFFF;
    text-shadow: #580c77 0 1px 2px;
    border-radius: 2%;
    padding: 1% 2%;
}

#reserve-the-table {
    width: 90%;
    margin: 4% auto;
    border: solid 1px #928193;
    background: linear-gradient(to left, #a57d7b, #877988, #928193);
    font-size: 4em;
}

#reserve-the-table input {
    display: inline-block;
    width: 10%;
    border-radius: 5%;
    font-size: 1.1em;
    float: right;
    margin-top: 10%;
    transform: scale(3);
    opacity: 0.9;
    cursor: pointer;
}

#reserve-the-table #name,
#reserve-the-table #phone {
    display: block;
    border-radius: 5%;
    width: 90%;
    font-size: 0.8em;
    float: none;
    margin-top: 1%;
    transform: none;
    opacity: unset;
    cursor: unset;
}

#reserve-the-table button {
    margin: 1em 2em;
    border: solid 1px #79687a;
    background: linear-gradient(to left, #7f5e5e, #635764, #635564);
    font-size: 1.2em;
    width: 7em;
    cursor: pointer;
}

.relative-input {
    position: relative;
}

.time {
    display: inline-block;
    margin: 1%;
    width: 43%;
    font-size: 0.8em;
    padding: 1.7%;
    text-align: center;
    border: solid 1px #79687a;
    border-radius: 5%;
    background: linear-gradient(to left, #7f5e5e, #635764, #635564);
    cursor: pointer;
}

#menu-button-in-reserve-page {
    transform: translateX(-50%);
    margin-left: 50%;
}

@media (min-width: 1024px) {
    .title-scheme {
        left: 20%;
        font-size: 1.7em;
    }

    .reserve {
        display: flex;
        justify-content: space-around;
        margin: 2em 0;
    }

    .table-selection {
        width: 40%;
        margin: 0;
    }

    #reserve-the-table {
        width: 50%;
        margin: 0 2%;
        font-size: 1.3em;
    }

    #reserve-the-table input {
        transform: scale(1.5);
        opacity: 0.9;
        cursor: pointer;
        margin-top: 8%;
    }

    .relative-input #table-reserve {
        position: absolute;
        bottom: 10%;
        right: -4%;
    }

    .time {
        margin: 0.5%;
        width: 27%;
        padding: 0.5%;
        text-align: center;
    }

    #reserve-the-table #name,
    #reserve-the-table #phone {
        width: 50%;
    }
}

@media (min-width: 1366px) {
    .time {
        width: 18%;
        font-size: 0.85em;
        padding: 1%;
    }
}

/*MODAL WINDOW*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
/ padding-top: 100 px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: absolute;
    left: 12%;
    top: 30%;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 70%;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    border: solid 1px #79687a;
    border-radius: 2%;
    background: linear-gradient(to left, #bb8b8b, #e1a8a8, rgba(238, 178, 178, 0.8));
    font-size: 3.8em;
    color: #442f2f;
    text-shadow: #400b55 0 0.5px 0.5px;
}

.close {
    margin-top: -7%;
    color: #aaaaaa;
    float: right;
    font-size: 2em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .modal-content {
        left: 30%;
        width: 30%;
        font-size: 1.5em;
    }
}

/*MENU PAGE*/

#restaurant-menu {
    width: 88%;
    margin: 2% auto;
    font-family: 'Kanit', sans-serif;
    font-size: 1.3em;
    padding: 0 5%;
    border: solid 1px #928193;
    background: linear-gradient(to left, #a57d7b, #877988, #928193);
    border-radius: 0.2%;
}

#menu-food,
#menu-drink {
    text-align: center;
    color: white;
    text-shadow: #400b55 0 1.5px 1px;
}

.name-dishes {
    list-style: none;
    color: #fee8ff;
    text-shadow: #400b55 0 1.5px 1px;
    font-size: 1.5em;
    margin-top: 3%;
}

.dishes,
.name-drinks {
    list-style: none;
    font-size: 0.9em;
    font-weight: bold;
    color: #3a2929;
    text-shadow: #f0daf1 0 0.2px 0.2px;
}

.food-price,
.drink-price {
    list-style: none;
    color: #f3dbf4;
    text-shadow: #400b55 0 1.5px 1px;
    font-size: 0.65em;
}

.name-drinks,
.drink-price {
    font-size: 1.2em;

}

.drink-price {
    font-size: 0.8em;

}

@media (max-width: 1023px) {
    #contacts,
    #search,
    #button-in-menu {
        display: none;
    }

    #footer {
        font-size: 0.89em;
    }
}

@media (min-width: 1024px) {
    #restaurant-menu {
        width: 50%;
    }
}

/*CONTACTS*/

.map-and-form {
    width: 100%;
}

.map iframe {
    width: 100%;
    height: 800px;
}

.contact-form {
    width: 80%;
    margin: 2em auto 2em;
    padding: 2em;
    text-align: center;
    border: solid 1px #928193;
    background: linear-gradient(to left, #a57d7b, #877988, #928193);
    border-radius: 0.7%;
}

input,
textarea,
input[type="submit"] {
    width: 80%;
    padding: 9px 13px;
    border-radius: 3px;
    border-style: solid;
    border-color: #f4f7fb;
    outline: none;
    background-color: #f4f7fb;
    color: #746775;
    font-size: 2.5em;
}

.contact-form input[type="submit"] {
    margin: 1em 2em;
    border: solid 1px #79687a;
    background: linear-gradient(to left, #7f5e5e, #635764, #635564);
    color: white;
    font-family: 'Kanit', sans-serif;
    width: 70%;
    cursor: pointer;
}

.input {
    margin-top: 1em;
    margin-bottom: 1em;
}

#form-paragraph {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    color: #FFFFFF;
    text-shadow: #580c77 0 1px 2px;
}

.address {
    width: 87%;
    margin: 0 2%;
    padding: 0.5em;
    font-family: 'Kanit', sans-serif;
    top: 10%;
    font-size: 1.9em;
}

.address p {
    padding: 1em;
    margin: 0;
    margin-bottom: 1%;
}

.address span {
    color: #463a47;
}

@media (min-width: 1024px) {
    .map-and-form {
        width: 100%;
        display: flex;
    }

    .map iframe {
        width: 450px;
        height: 480px;
        padding: 17% 5% 0 0;
    }

    .map,
    .contact-form {
        width: 40%;
        margin: 0 5%;
    }

    .contact-form {
        margin: 2em auto 2em;
        padding: 2em;
        text-align: center;
        border: solid 1px #928193;
        background: linear-gradient(to left, #a57d7b, #877988, #928193);
        border-radius: 0.7%;
    }

    input,
    textarea,
    input[type="submit"] {
        font-size: 1em;
    }

    .contact-form input[type="submit"] {
        font-size: 1.1em;
        width: 60%;
    }

    .address {
        width: 30%;
        font-size: 1em;
    }

    .address p {
        margin-bottom: 4%;
    }
}

@media (min-width: 1224px) {
    .map,
    .contact-form {
        width: 30%;
    }
}

@media (min-width: 1366px) {
    .map iframe {
        width: 600px;
    }
}

